.inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
}

.title {
    font-size: 2rem;
    padding-left: 0.2rem;
    padding-bottom: 0.5rem;
}

.description {
    display: flex;
    flex-flow: column nowrap;
    padding: var(--DESCRIPTION-PADDING);
    text-align: justify;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    margin: auto auto 0.5rem 2rem;
}

.links a {
    color: var(--LINK-COLOR);
}

.links a:hover,
.links a:active {
    color: var(--SECOND-COLOR);
    text-shadow: var(--SECOND-COLOR) 2px 2px 20px;
}

.modules ul {
    list-style: none;
    margin: 0.6rem auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.modules li {
    margin: 0.6rem 0.5rem;
    padding: 0 0.8rem;
    border-radius: 15px;
    line-height: 1.8rem;
}

.modules .javascript,
.modules .typescript {
    border: 2px solid var(--COLOR-1);
}
.modules .react {
    border: 2px solid var(--COLOR-2);
}
.modules .css,
.modules .fetch {
    border: 2px solid var(--COLOR-3);
}
.modules .firebase {
    border: 2px solid var(--COLOR-4);
}
