@import "./components/components.css";
@import "./transitions.css";

.main {
    max-width: 1080px;
    height: 100vh;
    height: calc(100vh - 2rem);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    /* border: black 2px solid; */
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer {
    align-self: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.header,
.footer {
    height: 70px;
}

.header img {
    width: 64px;
    cursor: pointer;
}

.footer img {
    width: 32px;
    cursor: pointer;
}

.header img:hover,
.footer img:hover {
    transform: scale(1.2);
}

.content-outer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 10px;
}

.content {
    min-width: var(--CONTENT-MIN-WIDTH);
    min-height: var(--CONTENT-MIN-HEIGHT);
    flex: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.project-main {
    flex: 1;
    min-width: var(--PROJECT-MIN-WIDTH);
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 2rem;
}

a {
    text-underline-offset: 5px;
    color: var(--LINK-COLOR);
    text-decoration-color: var(--LINK-UNDERLINE-COLOR);
}

a:hover,
a:active {
    color: var(--SECOND-COLOR);
    text-shadow: var(--SECOND-COLOR) 2px 2px 20px;
    transform: scale(1.1);
}

.projects a {
    margin: 1rem 0;
}

@media (max-width: 730px) {
    .content-outer {
        flex-direction: column;
        align-items: stretch;
    }

    .content,
    .project-main {
        flex: none;
        min-width: auto;
    }

    .projects a {
        margin: 0.1rem 0;
    }

    .header img {
        width: 32px;
    }
}
