/* welcome */

.welcome,
.project {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
}

.welcome-enter {
    transform: rotateY(-90deg);
    transform-origin: left center;
    height: 100%;
    width: 100%;
}

.welcome-enter-active {
    transform-origin: left center;
    transform: rotateY(0);
    transition: transform var(--TRANSITIONS-TIME);
    height: 100%;
    width: 100%;
}

.welcome-exit {
    transform-origin: left center;
    transform: rotateY(0);
    height: 100%;
    width: 100%;
}

.welcome-exit-active {
    transform-origin: left center;
    transform: rotateY(-90deg);
    transition: transform var(--TRANSITIONS-TIME);
    height: 100%;
    width: 100%;
}

/* project */

.project-enter {
    transform: rotateY(90deg);
    transform-origin: right center;
    height: 100%;
    width: 100%;
}

.project-enter-active {
    transform: rotateY(0deg);
    transform-origin: right center;
    transition: transform var(--TRANSITIONS-TIME);
    height: 100%;
    width: 100%;
}

.project-enter-done,
.welcome-enter-done {
    height: 100%;
    width: 100%;
}

.project-exit {
    transform: rotateY(0deg);
    transform-origin: right center;
    height: 100%;
    width: 100%;
}

.project-exit-active {
    transform: rotateY(90deg);
    transform-origin: right center;
    transition: transform var(--TRANSITIONS-TIME);
    height: 100%;
    width: 100%;
}

/* lines */

.line-left {
    position: absolute;
    content: " ";
    top: var(--OFFSET);
    left: var(--OFFSET);
    /* height: 50%; */
    width: 2px;
    /* background-color: var(--COLOR-4); */
    background: linear-gradient(var(--COLOR-4), VAR(--COLOR-2));
    animation: appear-vertical 2s ease-out forwards;
}

.line-bottom {
    position: absolute;
    content: " ";
    bottom: var(--OFFSET);
    left: calc(50% - var(--OFFSET));
    height: 2px;
    /* width: 50%; */
    /* background-color: var(--COLOR-2); */
    background: linear-gradient(to right, VAR(--COLOR-2), var(--COLOR-3));
    animation: appear-horizontal 2s 2s ease-out forwards;
}

.line-right {
    position: absolute;
    content: " ";
    right: var(--OFFSET);
    bottom: var(--OFFSET);
    width: 2px;
    /* height: 50%; */
    /* background-color: var(--COLOR-3); */
    background: linear-gradient(0deg, var(--COLOR-3), VAR(--COLOR-1));
    animation: appear-vertical 2s 4s ease-out forwards;
}

.line-top {
    position: absolute;
    content: " ";
    top: var(--OFFSET);
    right: calc(50% - var(--OFFSET));
    height: 2px;
    /* width: 50%; */
    /* background-color: var(--COLOR-1); */
    background: linear-gradient(to left, var(--COLOR-1), VAR(--COLOR-4));

    animation: appear-horizontal 2s 6s ease-out forwards;
}

@keyframes appear-vertical {
    from {
        height: 0px;
    }
    to {
        height: 50%;
    }
}

@keyframes appear-horizontal {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}
